html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding-top: 5.5%;
  text-align: center;
  background-color: #E5F3F2;
}

h1 {
  display: inline-block;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 1.8em;
}

h5 {
  margin-bottom: 3.5%;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  color: #6D6E71;
}

p {
  display: inline;
  color: #6D6E71;
  font-size: .9em;
}

.container,
.card-container {
  padding: 3% 6%;
}

.container {
  background-color: #E5F3F2;
}

.idea {
  color: #00A79D;
}

.title, .body {
  display: inline;
  margin-top: 3%;
  width: 100%;
  font-size: 1.2em;
}

.body {
  display: block;
  font-size: .9em;
  line-height: 1.3;
}

.save-btn {
  padding: 2% 0;
  width: 100%;
  margin: 5% 0 3% 0;
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  font-size: 1em;
}

.save-btn:hover {
  background-color: #045E55;
}

.save-btn:disabled {
  background-color: #D1D3D4;
}

.stored {
  margin-top: 15px;
  width: 100%;
}

.icon {
  width: 20px;
}

.card {
  border-bottom: 1px solid #D1D3D4;
  margin-bottom: 15px;
  width: 100%;
}

.card-btn {
  background-size: cover;
  border-style: none;
}

.delete-btn {
  display: inline-block;
  float: right;
  background: url(images/delete.svg) no-repeat center;
}

.delete-btn:hover {
  background: url(images/delete-hover.svg) no-repeat center;
}

.up {
  background: url(images/upvote.svg) no-repeat center;
}

.up:hover {
  background: url(images/upvote-hover.svg) no-repeat center;
}

.down {
  background: url(images/downvote.svg) no-repeat center;
}

.down:hover {
  background: url(images/downvote-hover.svg) no-repeat center;
}

.icon {
  height: 20px;
  margin: 15px 0;
  width: 20px;
}

.searchField {
  margin-top: 35px;
}

.search-input {
  margin-top: 5%;
  width: 100%;
  color: black;
  border: 1px solid #D1D3D4;
  font-size: 1.2em;
}

.quality {
  display: inline;
  margin-right: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

@media screen and (min-width: 500px) {
  .container,
  .card-container {
    padding: 3% 20%;
  }

  h1 {
    font-size: 3em;
  }

}
