body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #E5F3F2;
  text-align: center;
  padding-top: 5.5%;
}

h1 {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 1.8em;
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  color: #6D6E71;
  margin-bottom: 3.5%;
}

p {
  color: #6D6E71;
  font-size: .9em;
}

.idea {
  color: #00A79D;
}

.main {
  width: 100%;
  padding: 5%;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
}

.title, .body {
  font-size: 1.2em;
  border: 1px solid #D1D3D4;
  width: 90%;
  margin-top: 3%;
}

.body {
  height: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 1%;
}

.save-btn {
  color: #FFF;
  background-color: #00A79D;
  padding: 2% 0;
  border-style: none;
  width: 90%;
  margin-top: 5%;
  font-size: 1em;
}

.save-btn:hover {
  background-color: #045E55;
}

.stored {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.icon {
  width: 20px;
}

.card {
  border-bottom: 1px solid #D1D3D4;
  width: 95%;
}

.search {
  justify-content: center;
  display: flex;
  width: 100%;
}

.search-input {
  color: black;
  padding: 2% 0;
  border-style: none;
  width: 90%;
  margin-top: 5%;
  font-size: 1em;
  border: 1px solid #D1D3D4;
}

.quality {
  font-family: 'Roboto Slab', serif;
}
